.custom-forms-wrapper input  {
	opacity:0;
	filter: alpha(opacity=0);
	width:100%;
	height:100%;
	display:inline-block;
	margin:0;
}

/* Врапперы к инпутам */
.custom-forms-wrapper.checkbox, .custom-forms-wrapper.radio {
	background-repeat:no-repeat;
	width:20px;
	height:20px;
	display:inline-block;
	vertical-align:middle;
}
.custom-forms-wrapper.checkbox {
	background-image:url(sprite_checkbox.png);
}
.custom-forms-wrapper.radio {
	background-image:url(sprite_radio.png);
}

/* Равноразмерные спрайты позволяют не разделять стили для типов */
.custom-forms-wrapper:hover {
	background-position:0 -20px;
}
.custom-forms-wrapper.focus {
	background-position:0 -40px;
}
.custom-forms-wrapper.disable {
	background-position:0 -60px;
}
.custom-forms-wrapper.active {
	background-position:0 -80px;
}
.custom-forms-wrapper.active:hover {
	background-position:0 -100px;
}
.custom-forms-wrapper.active.focus {
	background-position:0 -120px;
}
.custom-forms-wrapper.active.disable {
	background-position:0 -140px;
}