.custom-forms-wrapper {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
}

/* slaves */
.custom-forms-wrapper .slave {
	display: inline-block;
	border: none;
	background-color: #ddd8ce;
	vertical-align: top;
}
.custom-forms-wrapper:hover .slave {
	background-color: #81acc0;
}
.custom-forms-wrapper.focus .slave {
	background-color: #1b7e5a;
}
.custom-forms-wrapper.disable .slave {
	background-color: rgba(255,0,0,0.3);
}

/* slave поиск */
.custom-forms-wrapper .search {
	text-indent: -9999px;
	width: 40px;
	height: 40px;
	background-image: url(../images/icon/search.png);
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	padding: 0;
}

/* Селект chosen */
.custom-forms-wrapper .chzn-single div {
	display: inline-block;
	border: none;
	background-color: #ddd8ce;
	vertical-align: top;
}
.custom-forms-wrapper .chzn-search {
	/*display: none;*/
	margin: 0;
	padding: 0;
}
.custom-forms-wrapper .chzn-search input {
	width: 100% !important;
	background: #fff;
	border: 2px solid #1b7e5a;
	border-top: 0;
	padding: 10px 10px 8px;
	margin: 0;
	height: 40px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-image: none !important;
}
.custom-forms-wrapper .chzn-drop,
.custom-forms-wrapper .chzn-single {
	min-width: 211px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.custom-forms-wrapper .chzn-single {
	background: none;
	border: none;
	box-shadow: none;
	height: auto;
	border-radius: 0;
	padding: 0;
}
.custom-forms-wrapper .chzn-single span {
	background: none;
	border: 2px solid #ddd8ce;
	padding: 10px 10px 8px;
	margin: 0;
	height: 40px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;

}
.custom-forms-wrapper .chzn-single div {
	width: 42px;
	height: 40px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-image: url(../images/icon/select.png);
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.custom-forms-wrapper .chzn-single div b {
	background: none;
	background-image: none !important;
}

.custom-forms-wrapper:hover .chzn-single span {
	border-color: #81acc0;
}
.custom-forms-wrapper:hover .chzn-single div {
	background-color: #81acc0;
}
.custom-forms-wrapper .chzn-container-active .chzn-single span {
	border-color: #1b7e5a;
}
.custom-forms-wrapper .chzn-container-active .chzn-drop,
.custom-forms-wrapper .chzn-container-active .chzn-single div {
	border: none;
	background-color: #1b7e5a;
	box-shadow: none;
	padding: 0;
	border-radius: 0;
}

.custom-forms-wrapper .chzn-drop {
	top: 40px !important;
}
.custom-forms-wrapper .chzn-results {
	margin: 0;
	padding: 0;
}
.custom-forms-wrapper .chzn-results li {
	padding: 10px;
	color: #fff;
	border-bottom: 1px solid rgba(255,255,255,0.5);
}
.custom-forms-wrapper .chzn-results li.no-results,
.custom-forms-wrapper .chzn-results li.no-results:hover {
	background: #1b7e5a;
}
.custom-forms-wrapper .chzn-results li:last-child {
	border: none;
}
.custom-forms-wrapper .chzn-results li.result-selected,
.custom-forms-wrapper .chzn-results li.highlighted,
.custom-forms-wrapper .chzn-results li:hover {
	background: #81acc0;
}


.custom-forms-wrapper.text .master {
	background: none;
	border: 2px solid #ddd8ce;
	padding: 10px 10px 8px;
	margin: 0;
	height: 40px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.custom-forms-wrapper.text:hover .master {
	border-color: #81acc0;
}
.custom-forms-wrapper .chzn-single-with-drop span,
.custom-forms-wrapper.text.focus .master {
	border-color: #1b7e5a;
	color: #1b7e5a;
}
.custom-forms-wrapper.text.disable .master {
	border-color: rgba(255,0,0,0.3);
	color: rgba(255,0,0,0.3);
}


/* Скрываем чекбоксы и радиобаттоны */
.custom-forms-wrapper.checkbox .master,
.custom-forms-wrapper.radio .master {
	opacity: 0;
	filter: alpha(opacity=0);
	width: 100%;
	height: 100%;
	display: inline-block;
	margin: 0;
}
/* Врапперы к чекбоксам и радиокнопкам */
.custom-forms-wrapper.checkbox,
.custom-forms-wrapper.radio {
	background-repeat: no-repeat;
	width: 22px;
	height: 22px;
}
.custom-forms-wrapper.checkbox {
	background-image: url(../images/sprite_checkbox.png);
}
.custom-forms-wrapper.radio {
	background-image: url(../images/sprite_radio.png);
}

/* Равноразмерные спрайты позволяют не разделять стили для типов */
.custom-forms-wrapper:hover {
	background-position: 0 -20px;
	background-position: 0 -22px;
}
.custom-forms-wrapper.focus {
	background-position: 0 -40px;
	background-position: 0 -44px;
}
.custom-forms-wrapper.disable {
	background-position: 0 -60px;
	background-position: 0 -66px;
}
.custom-forms-wrapper.active {
	background-position: 0 -80px;
	background-position: 0 -88px;
}
.custom-forms-wrapper.active:hover {
	background-position: 0 -100px;
	background-position: 0 -110px;
}
.custom-forms-wrapper.active.focus {
	background-position: 0 -120px;
	background-position: 0 -132px;
}
.custom-forms-wrapper.active.disable {
	background-position: 0 -140px;
	background-position: 0 -154px;
}